.all
  .header__back
    adsssffdasssssssssss
  .side-bar
    .side-bar__name__back
      .side-bar__name
        asdfasdf
        %i{class: "fa fa-pencil-square-o"}
        %i{class: "fa fa-gear"}
    .side-bar__back
      .side-bar__group
        asdf
        .side-bar__message as
        .side-bar__message zx
      .side-bar__group
        group
        .side-bar__message
          as
  .body__back
    .body__upper__back
      %p.group
        GROUP
        %span.button__edit
          Edit
      %p.b
        ss
    .body__bottom__back
      %p.name
        asdf
        %span.date aaaa
        %p.message aa

      %p.name
        asdf
        %span.date asd
        %p.message aa
      .space__text__back
        .space__text
          %i{class: "fa fa-photo photo"}
        .button__send
          Send
