.all
  .header__back
    adsssffdasssssssssss
  .side-bar
    .side-bar__name__back
      .side-bar__name
        asdfasdf
        = link_to messages_path do
          %i.fa.fa-pencil-square-o
        = link_to messages_path do
          %i.fa.fa-gear
    .side-bar__back
      .side-bar__group
        asdf
        .side-bar__message as
        .side-bar__message zx
      .side-bar__group
        group
        .side-bar__message
          as
  .body__back
    .body__upper__back
      %p.group
        GROUP
        %input{class: "button__edit", type: "submit", value: "Edit"}
      %p.b
        ss
    .body__bottom__back
      %p.name
        asdf
        %span.date aaaa
        %p.message aa

      %p.name
        asdf
        %span.date asd
        %p.message aa
      .space__text__back
        .space__text
          %label.photo
            =fa_icon "image"
            %input{class: "hidden", type: "file"}
        %input{class: "button__send", type: "submit", value: "Send"}
